service: ecs-demo

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1 # You can change this to your preferred region

resources:
  Resources:
    ECSDemoVPC:
      Type: 'AWS::EC2::VPC'
      Properties:
        CidrBlock: '10.0.0.0/16'
        EnableDnsSupport: true
        EnableDnsHostnames: true
        Tags:
          - Key: Name
            Value: ECSDemo
    
    PublicSubnet1:
      Type: 'AWS::EC2::Subnet'
      Properties:
        VpcId:
          Ref: ECSDemoVPC
        CidrBlock: '10.0.0.0/24'
        MapPublicIpOnLaunch: true
        AvailabilityZone:
          Fn::Select:
            - 0
            - Fn::GetAZs: ''
        Tags:
          - Key: Name
            Value: PublicSubnet1

    PublicSubnet2:
      Type: 'AWS::EC2::Subnet'
      Properties:
        VpcId:
          Ref: ECSDemoVPC
        CidrBlock: '10.0.1.0/24'
        MapPublicIpOnLaunch: true
        AvailabilityZone:
          Fn::Select:
            - 1
            - Fn::GetAZs: ''
        Tags:
          - Key: Name
            Value: PublicSubnet2
            
    PrivateSubnet1:
      Type: 'AWS::EC2::Subnet'
      Properties:
        VpcId:
          Ref: ECSDemoVPC
        CidrBlock: '10.0.2.0/24'
        AvailabilityZone:
          Fn::Select:
            - 0
            - Fn::GetAZs: ''
        Tags:
          - Key: Name
            Value: PrivateSubnet1

    PrivateSubnet2:
      Type: 'AWS::EC2::Subnet'
      Properties:
        VpcId:
          Ref: ECSDemoVPC
        CidrBlock: '10.0.3.0/24'
        AvailabilityZone:
          Fn::Select:
            - 1
            - Fn::GetAZs: ''
        Tags:
          - Key: Name
            Value: PrivateSubnet2
    
    InternetGateway:
      Type: 'AWS::EC2::InternetGateway'
      Properties:
        Tags:
          - Key: Name
            Value: ECSDemoIGW

    AttachGateway:
      Type: 'AWS::EC2::VPCGatewayAttachment'
      Properties:
        VpcId:
          Ref: ECSDemoVPC
        InternetGatewayId:
          Ref: InternetGateway
          
    ECSDemoPublicRouteTable:
      Type: 'AWS::EC2::RouteTable'
      Properties:
        VpcId:
          Ref: ECSDemoVPC
        Tags:
          - Key: Name
            Value: pubdemo

    ECSDemoPrivateRouteTable:
      Type: 'AWS::EC2::RouteTable'
      Properties:
        VpcId:
          Ref: ECSDemoVPC
        Tags:
          - Key: Name
            Value: pridemo
            
    PublicSubnet1Association:
      Type: 'AWS::EC2::SubnetRouteTableAssociation'
      Properties:
        SubnetId:
          Ref: PublicSubnet1
        RouteTableId:
          Ref: ECSDemoPublicRouteTable

    PublicSubnet2Association:
      Type: 'AWS::EC2::SubnetRouteTableAssociation'
      Properties:
        SubnetId:
          Ref: PublicSubnet2
        RouteTableId:
          Ref: ECSDemoPublicRouteTable

    PrivateSubnet1Association:
      Type: 'AWS::EC2::SubnetRouteTableAssociation'
      Properties:
        SubnetId:
          Ref: PrivateSubnet1
        RouteTableId:
          Ref: ECSDemoPrivateRouteTable

    PrivateSubnet2Association:
      Type: 'AWS::EC2::SubnetRouteTableAssociation'
      Properties:
        SubnetId:
          Ref: PrivateSubnet2
        RouteTableId:
          Ref: ECSDemoPrivateRouteTable
          
    PubRouteViaIGW:
      Type: 'AWS::EC2::Route'
      DependsOn: AttachGateway
      Properties:
        RouteTableId:
          Ref: ECSDemoPublicRouteTable
        DestinationCidrBlock: '0.0.0.0/0'
        GatewayId:
          Ref: InternetGateway
          
    PublicNetworkAcl:
      Type: 'AWS::EC2::NetworkAcl'
      Properties:
        VpcId:
          Ref: ECSDemoVPC
        Tags:
          - Key: Name
            Value: PublicNetworkAcl

    PrivateNetworkAcl:
      Type: 'AWS::EC2::NetworkAcl'
      Properties:
        VpcId:
          Ref: ECSDemoVPC
        Tags:
          - Key: Name
            Value: PrivateNetworkAcl
            
    PublicSubnet1AclAssociation:
      Type: AWS::EC2::SubnetNetworkAclAssociation
      Properties:
        SubnetId:
          Ref: PublicSubnet1
        NetworkAclId:
          Ref: PublicNetworkAcl

    PublicSubnet2AclAssociation:
      Type: AWS::EC2::SubnetNetworkAclAssociation
      Properties:
        SubnetId:
          Ref: PublicSubnet2
        NetworkAclId:
          Ref: PublicNetworkAcl

    PrivateSubnet1AclAssociation:
      Type: AWS::EC2::SubnetNetworkAclAssociation
      Properties:
        SubnetId:
          Ref: PrivateSubnet1
        NetworkAclId:
          Ref: PrivateNetworkAcl

    PrivateSubnet2AclAssociation:
      Type: AWS::EC2::SubnetNetworkAclAssociation
      Properties:
        SubnetId:
          Ref: PrivateSubnet2
        NetworkAclId:
          Ref: PrivateNetworkAcl
  
  Outputs:
    VpcId:
      Description: 'VPC Id'
      Value:
        Ref: ECSDemoVPC
    PublicSubnet1Id:
      Description: 'Public Subnet 1 Id'
      Value:
        Ref: PublicSubnet1
    PublicSubnet2Id:
      Description: 'Public Subnet 2 Id'
      Value:
        Ref: PublicSubnet2
    PrivateSubnet1Id:
      Description: 'Private Subnet 1 Id'
      Value:
        Ref: PrivateSubnet1
    PrivateSubnet2Id:
      Description: 'Private Subnet 2 Id'
      Value:
        Ref: PrivateSubnet2